<!DOCTYPE mycat:server SYSTEM "server.dtd">
<mycat:server xmlns:mycat="http://io.mycat/">
	<system>
		<property name="useSqlStat">1</property>
		<property name="useGlobleTableCheck">1</property>
		<property name="sequnceHandlerType">4</property>
		<property name="processorBufferChunk">40960</property>
		<property name="processorBufferPool">4096</property>
		<property name="processors">4</property>
		<property name="processorExecutor">32</property>
		<property name="processorBufferPoolType">0</property>
		<property name="handleDistributedTransactions">0</property>
		<property name="useOffHeapForMerge">1</property>
		<property name="spillsFileBufferSize">1k</property>
		<property name="useStreamOutput">0</property>
		<property name="systemReserveMemorySize">384m</property>
		<property name="useZKSwitch">true</property>
		<property name="charset">utf8</property>
	</system>

	<user name="all">
		<property name="password">all</property>
		<property name="schemas">TRADE,ANALYSIS_ENGINE,RESOURCE,USER_CENTER,APP,CHANNEL,MESSAGE,SETTLEMENT</property>
	</user>
	<user name="trade">
		<property name="password">trade</property>
		<property name="schemas">TRADE</property>
	</user>
	<user name="analysis">
		<property name="password">analysis</property>
		<property name="schemas">ANALYSIS_ENGINE</property>
	</user>
	<user name="resource">
		<property name="password">resource</property>
		<property name="schemas">RESOURCE</property>
	</user>
	<!-- <user name="groupapp"> -->
	<!-- <property name="password">groupapp</property> -->
	<!-- <property name="schemas">GROUP_APP</property> -->
	<!-- </user> -->
	<user name="usercenter">
		<property name="password">usercenter</property>
		<property name="schemas">USER_CENTER</property>
	</user>
	<user name="app">
		<property name="password">app</property>
		<property name="schemas">APP</property>
	</user>
	<user name="channel">
		<property name="password">channel</property>
		<property name="schemas">CHANNEL</property>
	</user>
	<user name="message">
		<property name="password">message</property>
		<property name="schemas">MESSAGE</property>
	</user>
	<user name="settlement">
		<property name="password">settlement</property>
		<property name="schemas">SETTLEMENT</property>
	</user>
</mycat:server>